/* Regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

header a {
  color: gray;
}

/* Qui iniziano le regole dell'header fisso */
.statico {
  background-color: #F5F5F5;
  width: 100vw;
}

.statico::after {
  content: "";
  display: table;
  clear:both;
}

#sinistro li {
  float: left;
  padding: 30px 20px;
}

#sinistro {
  padding-left: 80px;
}



#destro li {
  float: left;
  padding-top:30px;
}

#destro {
  padding-left: 80vw;
}
/* Qui finiscono le regole dell'header fisso */

/* Qui iniziano le regole della seconda parte dell'header */

.navigazione::after {
  content: "";
  display: table;
  clear:both;
}

#logo {
  float: left;
  padding: 30px;
}

#barra li {
  float: left;
  list-style: none;
  padding: 30px;
}

/* Qui iniziano le regole della prima section */

.jumbotron {
  background-image: url(jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  text-align: left;
  height: 694px;
}
/* Qui iniziano le regole della sezione "servizi"  */
.servizi {
  background-color: #F5F5F5;
}

.centro {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 80px;
}

#rubik {
  max-width: 200px;
  height: auto;
  text-align: center;
  padding-top: 50px;
}
#powerful {
  padding-bottom: 30px;
}
/* Qui inizia il div a due colonne  */

.padre{
  margin: 0 10%;
  background-color: white;
  padding-bottom: 100px;
}

.padre::after {
  content: "";
  display: table;
  clear: both;
}

.prima {
  float: left;
  width: 20%;
  padding-right: 300px;

}

.seconda {
  float: left;
  width: 60%;
  padding-top: 30px;
}
#dati {
  width: 200px;
  height: auto;
  padding-left: 40px;
  padding-top: 30px;
}

#crm {
  margin-top:20px;
  margin-left: 80px;
  color: white;
  background-color: orange;
  padding: 10px 30px;
  border-radius: 5%;
}

#titolo-seconda-colonna {
  padding-bottom: 30px;
}

#p-seconda-colonna {
  line-height: 20px;
  padding-bottom: 20px;
}
/* Qui inizia la sezione a tre colonne */
.padre-3-colonne {
  background-color: #F5F5F5;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  text-align: center;
  padding-bottom: 70px;
}
.padre-3-colonne::after {
  content: "";
  display: table;
  clear: both;
}

.hub {
  background-color: white;
  float:left;
  width: 30%;
  padding-bottom: 60px;
}
#hub-centro {
  margin: 0 5%;
}

.img-hub {
  height: 200px;
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-hub {
  padding: 30px 30px;
  line-height: 30px;
  text-align: left;
  border-bottom: solid 2px;
}


.h6-hub {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hub ul li {
  text-align: left;
  padding-left: 30px;
  line-height: 30px;
}

.hub ul {
  padding-bottom: 40px;
}

.started {
  color: white;
  padding: 15px 25px;
  border: solid 1px;
  background-color: #FF7F50;
  border-radius: 5%;
}
/* Qui inizia la sezione con la griglia */

#griglia {
 background-image: linear-gradient(45deg, #00A4BD, #00BDA5);
 height: 1000px;
}

#titolo-griglia {
  text-align: center;
  color: white;
  padding-top: 100px;
  line-height: 50px;
  font-size: 25px;
}

#titolo-griglia h2 {
  padding-bottom: 20px;
}

#titolo-griglia p {
  line-height: 30px;
  font-size: 20px;
}
/* Qui inizia la parte con i riquadri */
.padre-riquadri {
  margin-left: 10%;
  margin-right: 10%;
  width: 100vw;
  padding-top: 80px;
}

.padre-riquadri ::after {
  content: "";
  display: table;
  clear: both;
}

.riquadro {
  float: left;
  width: 20%;
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 40px;
}

.riquadro img {
  padding: 30px 0;
  max-height: 100px;
}

.riquadro p {
  font-size: 20px;
  padding: 20px 0 30px;
}

.riquadro h2{
  position: relative;
}

.riquadro .plus::after {
  content: '+';
    display: inline-block;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
 #groups {
   border-bottom: solid 2px;
   border-right: solid 2px;
 }

#inbound {
border-bottom: solid 2px;
}

#integrations {
  border-right: solid 2px;
}

/* Qui iniziano le regole della sezione finale */

.padre-loghi  {
  height: 1000px;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.padre-loghi::after {
  content: "";
  display: table;
  clear: both;
}

.countries {
  padding-top: 50px;
  float: left;
  width: 30%;
  font-size: 50px;
}

.countries p {
  font-size: 30px;
}

.padre-ul {
  padding-top: 100px;
  float: right;
  width: 50%;
}

.padre-ul ::after{
  content:"";
  display: table;
  clear:both;
}
.padre-ul li img {
  max-width: 120px;
  padding-right: 20px;
  padding-bottom: 50px;
}
.padre-ul li {
  float: left;
}
