/* Regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

header a {
  color: #33475b;
}

/* Qui iniziano le regole dell'header fisso */
.statico {
  background-color: #F5F5F5;
  width: 100vw;
  position: fixed;
  top:0;
  z-index: 0;
}

.statico::after {
  content: "";
  display: table;
  clear:both;
}

#sinistro li {
  float: left;
  padding: 30px 15px;
}

#sinistro {
  margin-left: 10%;
  margin-right: 10%;
}

#english {
  padding-right: 30px;
  border-right: solid 2px;
  border-color: lightgray;
}



#destro li {
  float: left;
  padding-top:30px;
  padding-right: 30px;
}

#destro {
  padding-left: 70vw;
}

#login {
  padding: 10px 20px;
  background-color: white;
  color: #FF7F50;
  border: solid 2px;
  border-color: #FF7F50;
  border-radius: 10%;
}

.started {
  color: white;
  padding: 10px 20px;
  border: solid 1px;
  background-color: #FF7F50;
  border-radius: 10%;
}

/* Qui finiscono le regole dell'header fisso */

/* Qui iniziano le regole della seconda parte dell'header */

.navigazione {
  z-index: 1;
  margin-top: 100px;
}

.navigazione::after {
  content: "";
  display: table;
  clear:both;
}

#logo {
  float: left;
  padding: 30px;
  padding-right: 40vw;
  margin-left: 10%;
  height: 90px;
  width: auto;
}

#barra li {
  float: left;
  list-style: none;
  padding: 30px 15px;
  font-size: 18px;
  color: #33475b;
  font-weight: bold;
}

/* Qui iniziano le regole della prima section */

.jumbotron {
  background-image: url(jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  text-align: left;
  height: 694px;
  padding-left: 10%;
  padding-top: 100px;
}

.jumbotron h1 {
  color: #33475b;
  padding-bottom: 50px;
  font-size: 50px;
}

#maggiore {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 50px;
}

#ingrandisci {
  padding: 25px 30px;
  font-size: 18px;
}
#piccolo {
  position: relative;
  top: 30px;
}

/* Qui iniziano le regole della sezione "servizi"  */
.servizi {
  background-color: #F5F5F5;
}

.centro {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 80px;
}

#rubik {
  max-width: 200px;
  height: auto;
  text-align: center;
  padding-top: 50px;
}
#powerful {
  padding-bottom: 30px;
}
/* Qui inizia il div a due colonne  */

.padre{
  margin: 0 10%;
  background-color: white;
  padding-bottom: 100px;
}

.padre::after {
  content: "";
  display: table;
  clear: both;
}

.prima {
  float: left;
  width: 20%;
  padding-right: 300px;
}

#crm {
  position: relative;
  left: 60px;
}
.seconda {
  float: left;
  width: 60%;
  padding-top: 30px;
}
#dati {
  width: 200px;
  height: auto;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
}

#titolo-seconda-colonna {
  padding-bottom: 30px;
}

#p-seconda-colonna {
  line-height: 20px;
  padding-bottom: 30px;
}

.check {
  float:left;
  padding-top: 30px;
  padding-right: 40px;
  list-style-image: url(check.png);
}



hr {
  position: relative;
  left: 120px;
  top: -5px;
}
/* Qui inizia la sezione a tre colonne */
.padre-3-colonne {
  background-color: #F5F5F5;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  text-align: center;
  padding-bottom: 70px;
}
.padre-3-colonne::after {
  content: "";
  display: table;
  clear: both;
}

.hub {
  background-color: white;
  float:left;
  width: 30%;
  padding-bottom: 60px;
}
#hub-centro {
  margin: 0 5%;
}

.img-hub {
  height: 200px;
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-hub {
  margin: 30px 30px;
  line-height: 30px;
  text-align: left;
  border-bottom: solid 2px;
  border-color: gray;
  padding-bottom: 30px;
}


.h6-hub {
  padding-top: 15px;
  padding-bottom: 30px;
}

.hub ul li {
  text-align: left;
  padding-left: 30px;
  line-height: 30px;
}

.hub ul {
  padding-bottom: 40px;
}

.check2 {
  list-style-image: url(check.png);
  position: relative;
  left: 50px;
}


/* Qui inizia la sezione con la griglia */

#griglia {
 background-image: linear-gradient(45deg, #00A4BD, #00BDA5);
 height: 1000px;
}

#titolo-griglia {
  text-align: center;
  color: white;
  padding-top: 100px;
  line-height: 50px;
  font-size: 25px;
}

#titolo-griglia h2 {
  padding-bottom: 20px;
}

#titolo-griglia p {
  line-height: 30px;
  font-size: 20px;
}
/* Qui inizia la parte con i riquadri */
.padre-riquadri {
  margin-left: 10%;
  margin-right: 10%;
  width: 100vw;
  padding-top: 80px;
}

.padre-riquadri ::after {
  content: "";
  display: table;
  clear: both;
}

.riquadro {
  float: left;
  width: 20%;
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 40px;
}

.riquadro img {
  padding: 30px 0;
  max-height: 100px;
}

.riquadro p {
  font-size: 20px;
  padding: 20px 0 30px;
}

.riquadro h2{
  position: relative;
}

.riquadro .plus::after {
  content: '+';
    display: inline-block;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
 #groups {
   border-bottom: solid 2px;
   border-right: solid 2px;
 }

#inbound {
border-bottom: solid 2px;
}

#integrations {
  border-right: solid 2px;
}

/* Qui iniziano le regole della sezione finale */

.padre-loghi  {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.padre-loghi::after {
  content: "";
  display: table;
  clear: both;
}

.countries {
  padding-top: 50px;
  float: left;
  width: 30%;
  font-size: 50px;
}

.countries p {
  font-size: 30px;
}

.padre-ul {
  padding-top: 100px;
  float: right;
  width: 50%;
}

.padre-ul ::after{
  content:"";
  display: table;
  clear:both;
}
.padre-ul li img {
  max-width: 120px;
  padding-right: 20px;
  padding-bottom: 50px;
}
.padre-ul li {
  float: left;
}

/* Qui inizia la seconda parte dell'ultima sezione */

.padre-growing {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 200px;
  padding-bottom: 150px;
  position: relative;
}

.padre-growing img {

  max-height: 400px;
  width: auto;
  position: absolute;
  right: 0%;
  top: 150px;
}

.padre-growing h2 {
  font-size: 30px;
  padding-bottom: 40px;
}

#grande {
  line-height: 20px;
  font-size: 20px;
  padding-bottom: 40px;
}

.padre-growing a {
  border: solid 2px;
  border-radius: 10%;
  padding: 10px 20px;
  background-color: #FF7F50;
  color: white;
}

#piccolo {
  padding-top: 40px;
}

/* Qui inizia il footer */

footer {

  background-color: #33475b;
}

/* Qui inizia la parte a colonne */

.padre-4-colonne {
  margin-left: 10%;
  padding-top: 50px;
}

.padre-4-colonne::after {
  content:"";
  display: table;
  clear: both;
}

.colonna {
  float:left;
  width: 23%;
  padding-right: 40px;
}

.colonna h4 {
  color: white;
  padding-bottom: 40px;
}

.colonna li {
  line-height: 40px;
  font-size: 16px;
}

.colonna a {
  color:gray;
}

#ultimo-link {
  color: white;
}

#ultimo-bottone {
  padding: 10px 5px;
  background-color: white;
  border-radius: 5%;
  background-color: white;
  color: #33475b;
  position: relative;
  top: 30px;
}



#padre-icone ::after {
  content:"";
  display: table;
  clear: both;
}

.flotta {
  float: left;
  width: 15%;
  padding-top: 40px;
  padding-right: 15px;
}

/* Qui inizia la parte con le lingue */

.padre-lingue {
  margin-left: 30%;
  margin-right: 25%;
  padding-top: 25px;
}

.padre-lingue::after{
  content:"";
  display: table;
  clear: both;
}

.lingua {
  float: left;
  color: gray;
  padding-bottom: 40px;
}

.lingua a {
  color: gray;
  padding-right: 30px;
  font-size: 20px;
}

/* Qui inizia la parte finale del footer */

.padre-basso {
  margin-left: 10%;
  margin-right: 10%;
  color: gray;
  border-top: solid 2px;
}

.padre-basso ::after {
  content: "";
  display: table;
  clear: both;
}

.padre-basso img {
  padding-top: 30px;
}

#basso a {
 color: gray;
}

#basso ::after {
  content: "";
  display: table;
  clear: both;
}

#basso li {
  float: right;
  position: relative;
  top: -50px;
  padding-right: 20px;
  font-size: 20px;
}
